* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  /* font-family: 'Playfair Display', serif; */
  background-color: #242b33;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.description,
.apartments,
.video-review,
.map {
  position: relative;
}

.section-title {
  margin-bottom: 4rem;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #d4c17f;
}

.numeration {
  position: absolute;
  font-weight: bold;
  font-size: 40rem;
  opacity: 0.02;
}

/*========== Header ==========*/
.header {
  height: 100vh;
  background-image: url(../img/header_bacground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header .main-menu {
  margin: 0 1.5rem;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-menu .logo {
  padding: 1.5rem 3rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .main-menu .logo:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.6);
}

.header .main-menu .logo .logo__description {
  display: block;
  padding-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.header .main-menu .main-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .main-menu .main-menu__nav .main-menu__nav-item + .main-menu__nav-item {
  margin-left: 0.7rem;
}

.header .main-menu .main-menu__nav .main-menu__nav-link {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .main-menu .main-menu__nav .main-menu__nav-link:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.header .main-menu #nav_modal-switcher,
.header .main-menu .nav_list,
.header .main-menu .nav_modal {
  display: none;
}

/*========== section Hero ==========*/
.hero {
  height: calc(100vh - 11.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__title {
  width: 50%;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #d4c17f;
}

.hero .hero__nav-down {
  display: block;
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .hero__nav-down:hover {
  -webkit-animation: hoverNavDown 0.8s ease-in-out 1;
          animation: hoverNavDown 0.8s ease-in-out 1;
}

@-webkit-keyframes hoverNavDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  82% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hoverNavDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  82% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero .hero__nav-down img {
  width: 60%;
  vertical-align: center;
}

.hero .hero__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero__contacts .hero__contacts-item {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .hero__contacts .hero__contacts-item:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.hero .hero__contacts .hero__contacts-item + .hero__contacts-item {
  margin-left: 2rem;
}

/*========== section Description ==========*/
.description {
  padding: 0 0 13rem;
}

.description .description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .description__list .description__item {
  margin: 3rem 2rem;
  width: 18%;
  text-align: center;
}

.description .description__list .description__item .description__image {
  margin-bottom: 5rem;
  color: #d4c17f;
}

.description .description__list .description__item .description__image--marginTop {
  margin-top: 1rem;
}

.description .description__list .description__item .description__paragraph {
  font-weight: 300;
  font-size: 1.85rem;
  line-height: 2.7rem;
}

.description .description__list .description__image--marginTop {
  margin-top: 2rem;
}

.description .numeration {
  top: 0;
  right: 5%;
}

/*========== section Appartments ==========*/
.apartments {
  margin: 0 1.5rem;
}

.apartments .apartments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.apartments .apartments__list .apartmens__item {
  width: 48%;
  margin-bottom: 5rem;
  position: relative;
}

.apartments .apartments__list .apartmens__item .appartments__link {
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.apartments .apartments__list .apartmens__item .appartments__link:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.apartments .apartments__list .apartmens__item .appartments__link .apartments__img {
  width: 100%;
}

.apartments .apartments__list .apartmens__item .appartments__link .apartments__title {
  position: absolute;
  top: 85%;
  left: 10%;
  font-size: 1.85rem;
  line-height: 2.7rem;
}

.viewing {
  margin: 0 1.5rem;
  padding: 18rem 0;
  background-image: url(../img/form_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.viewing .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.viewing .content-wrapper .section-text {
  width: 45%;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.viewing .content-wrapper form {
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.viewing .content-wrapper form .form__input,
.viewing .content-wrapper form .form__button {
  width: 45%;
  list-style: none;
  padding: 1.2rem;
  margin-bottom: 3.5rem;
  background: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: rgba(255, 255, 255, 0.671);
}

.viewing .content-wrapper form .form__input::-webkit-input-placeholder,
.viewing .content-wrapper form .form__button::-webkit-input-placeholder {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #fff;
  opacity: 0.5;
}

.viewing .content-wrapper form .form__input:-ms-input-placeholder,
.viewing .content-wrapper form .form__button:-ms-input-placeholder {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #fff;
  opacity: 0.5;
}

.viewing .content-wrapper form .form__input::-ms-input-placeholder,
.viewing .content-wrapper form .form__button::-ms-input-placeholder {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #fff;
  opacity: 0.5;
}

.viewing .content-wrapper form .form__input::placeholder,
.viewing .content-wrapper form .form__button::placeholder {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #fff;
  opacity: 0.5;
}

.viewing .content-wrapper form .form__text {
  width: 45%;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.viewing .content-wrapper form .form__button {
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: rgba(255, 255, 255, 0.671);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.viewing .content-wrapper form .form__button:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

/*========== SMALL SCREEN ==========*/
/*==================================*/
@media screen and (min-width: 890px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
  .main-menu .main-menu__nav .main-menu__nav-item .main-menu__nav-link {
    font-size: 1.8rem;
  }
  .hero .hero__nav-down {
    width: 7rem;
    height: 7rem;
  }
}

/*========== LAPTOP ==========*/
/*============================*/
@media screen and (min-width: 768px) and (max-width: 889px) {
  html {
    font-size: 7px;
  }
  .main-menu .main-menu__nav .main-menu__nav-item .main-menu__nav-link {
    font-size: 1.9rem;
  }
  .hero .hero__nav-down {
    width: 8rem;
    height: 8rem;
  }
  .description .description__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description .description__list .description__item {
    width: 40%;
  }
  .description .description__list .description__item .description__paragraph {
    font-size: 2rem;
  }
  .viewing .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .viewing .content-wrapper .section-text {
    margin-bottom: 3.5rem;
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
  }
  .viewing .content-wrapper form {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .viewing .content-wrapper form .form__input,
  .viewing .content-wrapper form .form__button {
    width: 45%;
    padding: 1.5rem;
  }
  .viewing .content-wrapper form .form__input::-webkit-input-placeholder,
  .viewing .content-wrapper form .form__button::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__input:-ms-input-placeholder,
  .viewing .content-wrapper form .form__button:-ms-input-placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__input::-ms-input-placeholder,
  .viewing .content-wrapper form .form__button::-ms-input-placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__input::placeholder,
  .viewing .content-wrapper form .form__button::placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__text {
    font-size: 1.5rem;
  }
}

/*========== MOBILE ==========*/
/*============================*/
@media screen and (max-width: 767px) {
  html {
    font-size: 6px;
  }
  .header {
    position: relative;
  }
  .header .main-menu .main-menu__nav {
    display: none;
  }
  .header .main-menu .nav_list {
    display: block;
    margin-right: 2rem;
    padding: 2rem;
    font-size: 5rem;
    background: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header .main-menu .nav_list:hover {
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  }
  .header .main-menu .nav_modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #000000e7;
  }
  .header .main-menu .nav_modal .nav_modal-item {
    height: calc(100vh / 7);
    margin-top: 2rem;
  }
  .header .main-menu .nav_modal .nav_modal-item .nav_modal-link {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header .main-menu .nav_modal .nav_modal-item .nav_modal-link:hover {
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  }
  .header .main-menu .nav_modal .nav_modal-item--close {
    margin: 0 0 0 81%;
    padding-top: 2rem;
    padding-right: 2rem;
    font-size: 5rem;
    cursor: pointer;
  }
  .header .main-menu #nav_modal-switcher:checked ~ .nav_modal {
    display: block;
    -webkit-animation: modal 0.5s ease-in-out;
            animation: modal 0.5s ease-in-out;
  }
  @-webkit-keyframes modal {
    0% {
      right: 100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes modal {
    0% {
      right: 100%;
    }
    100% {
      right: 0;
    }
  }
  .header .main-menu #nav_modal-switcher:checked ~ label {
    display: none;
  }
  .hero .hero__nav-down {
    width: 10rem;
    height: 10rem;
  }
  .hero .hero__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero__contacts .hero__contacts-item {
    font-size: 2.5rem;
  }
  .hero .hero__contacts .hero__contacts-item + .hero__contacts-item {
    margin-top: 3rem;
    margin-left: 0;
  }
  .description {
    padding: 6rem 0 10rem;
  }
  .description .description__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description .description__list .description__item {
    width: 80%;
  }
  .description .description__list .description__item .description__image {
    margin-bottom: 2rem;
  }
  .description .description__list .description__item .description__paragraph {
    font-size: 2.7rem;
  }
  .description .description__list .description__item:not(:last-child) {
    margin-bottom: 8rem;
  }
  .description .numeration {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .apartments {
    margin: 0 3rem;
  }
  .apartments .apartments__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .apartments .apartments__list .apartmens__item {
    width: 100%;
  }
  .apartments .apartments__list .apartmens__item .appartments__link .apartments__title {
    font-size: 3rem;
  }
  .viewing {
    padding-top: 6rem;
  }
  .viewing .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .viewing .content-wrapper .section-text {
    margin-bottom: 3.5rem;
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
  }
  .viewing .content-wrapper form {
    width: 70%;
  }
  .viewing .content-wrapper form .form__input,
  .viewing .content-wrapper form .form__button {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .viewing .content-wrapper form .form__input::-webkit-input-placeholder,
  .viewing .content-wrapper form .form__button::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__input:-ms-input-placeholder,
  .viewing .content-wrapper form .form__button:-ms-input-placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__input::-ms-input-placeholder,
  .viewing .content-wrapper form .form__button::-ms-input-placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__input::placeholder,
  .viewing .content-wrapper form .form__button::placeholder {
    font-size: 2rem;
  }
  .viewing .content-wrapper form .form__text {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .viewing .content-wrapper form .form__button {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */