@import "../partial/mixins";
@import "../partial/variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  /* font-family: 'Playfair Display', serif; */
  background-color: $bodyBGC;
  color: $textColor;
}

a {
  text-decoration: none;
  color: $textColor;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.description,
.apartments,
.video-review,
.map {
  position: relative;
}

.numeration {
  position: absolute;
  font-weight: bold;
  font-size: 40rem;
  opacity: 0.02;
}

/*========== Header ==========*/
.header {
  height: 100vh;
  background-image: url(../img/header_bacground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .main-menu {
    margin: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      padding: 1.5rem 3rem;
      cursor: pointer;
      @include propertyLink;
      &:hover {
        @include hoverLink;
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.6);
      }
      .logo__description {
        display: block;
        padding-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
    }
    .main-menu__nav {
      display: flex;
      justify-content: space-between;
      .main-menu__nav-item + .main-menu__nav-item {
        margin-left: 0.7rem;
      }
      .main-menu__nav-link {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 0.05em;
        @include propertyLink;
        &:hover {
          @include hoverLink;
        }
      }
    }
    #nav_modal-switcher,
    .nav_list,
    .nav_modal {
      display: none;
    }
  }
}

/*========== section Hero ==========*/
.hero {
  height: calc(100vh - 11.2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .hero__title {
    width: 50%;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6.4rem;
    color: $titleColor;
  }
  .hero__nav-down {
    display: block;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      animation: hoverNavDown 0.8s ease-in-out 1;
    }
    @keyframes hoverNavDown {
      0% {
        transform: translateY(0);
      }
      17% {
        transform: translateY(-2rem);
      }
      33% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-1rem);
      }
      66% {
        transform: translateY(0);
      }
      82% {
        transform: translateY(-0.5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    img {
      width: 60%;
      vertical-align: center;
    }
  }
  .hero__contacts {
    display: flex;
    justify-content: center;
    .hero__contacts-item {
      padding: 1rem 2rem;
      font-size: 1.8rem;
      line-height: 2.1rem;
      @include propertyLink;
      &:hover {
        @include hoverLink;
      }
    }
    .hero__contacts-item + .hero__contacts-item {
      margin-left: 2rem;
    }
  }
}

/*========== section Description ==========*/
.description {
  padding: 10rem 0 20rem;
  .description__list {
    display: flex;
    justify-content: center;
    align-items: center;
    .description__item {
      margin: 3rem 2rem;
      width: 18%;
      text-align: center;
      .description__image {
        margin-bottom: 5rem;
      }
      .description__paragraph {
        font-weight: 300;
        font-size: 1.85rem;
        line-height: 2.7rem;
      }
    }
  }
  .numeration {
    top: 10%;
    right: 5%;
  }
}

/*========== SMALL SCREEN ==========*/
/*==================================*/
@media screen and (min-width: 890px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
  .main-menu {
    .main-menu__nav {
      .main-menu__nav-item {
        .main-menu__nav-link {
          font-size: 1.8rem;
        }
      }
    }
  }
  .hero {
    .hero__nav-down {
      width: 7rem;
      height: 7rem;
    }
  }
}

/*========== LAPTOP ==========*/
/*============================*/
@media screen and (min-width: 768px) and (max-width: 889px) {
  html {
    font-size: 7px;
  }
  .main-menu {
    .main-menu__nav {
      .main-menu__nav-item {
        .main-menu__nav-link {
          font-size: 1.9rem;
        }
      }
    }
  }
  .hero {
    .hero__nav-down {
      width: 8rem;
      height: 8rem;
    }
  }

  .description {
    .description__list {
      flex-wrap: wrap;

      .description__item {
        width: 40%;
        .description__paragraph {
          font-size: 2rem;
        }
      }
    }
  }
}

/*========== MOBILE ==========*/
/*============================*/
@media screen and (max-width: 767px) {
  html {
    font-size: 6px;
  }
  .header {
    position: relative;

    .main-menu {
      .main-menu__nav {
        display: none;
      }
      .nav_list {
        display: block;
        margin-right: 2rem;
        padding: 2rem;
        font-size: 5rem;
        background: transparent;
        cursor: pointer;
        @include propertyLink;
        &:hover {
          @include hoverLink;
        }
      }
      & .nav_modal {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        background-color: #000000e7;
        & .nav_modal-item {
          height: calc(100vh / 7);
          margin-top: 2rem;
          & .nav_modal-link {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            text-transform: uppercase;
            @include propertyLink;
            &:hover {
              @include hoverLink;
            }
          }
        }
        .nav_modal-item--close {
          margin: 0 0 0 81%;
          padding-top: 2rem;
          padding-right: 2rem;
          font-size: 5rem;
          cursor: pointer;
        }
      }
      #nav_modal-switcher:checked ~ .nav_modal {
        display: block;
        animation: modal 0.5s ease-in-out;
      }
      @keyframes modal {
        0% {
          right: 100%;
        }
        100% {
          right: 0;
        }
      }
      #nav_modal-switcher:checked ~ label {
        display: none;
      }
    }
  }
  .hero {
    .hero__nav-down {
      width: 10rem;
      height: 10rem;
    }
    .hero__contacts {
      .hero__contacts-item {
        font-size: 2.5rem;
      }
    }
  }

  .description {
    padding: 6rem 0 10rem;
    .description__list {
      flex-wrap: wrap;
      .description__item {
        width: 80%;

        .description__image {
          margin-bottom: 2rem;
        }
        .description__paragraph {
          font-size: 2.7rem;
        }
      }
      .description__item:not(:last-child) {
        margin-bottom: 8rem;
      }
    }
    .numeration {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
