* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  /* font-family: 'Playfair Display', serif; */
  background-color: #242b33;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/*========== Header ==========*/
.header {
  height: 100vh;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-image: url(../img/header_bacground.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.header .nav-wrapper {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-wrapper .logo {
  padding: 1.5rem 3rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .nav-wrapper .logo:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.6);
}

.header .nav-wrapper .logo .logo__description {
  display: block;
  padding-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.header .nav-wrapper .main-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-wrapper .main-menu__nav .main-menu__nav-item + .main-menu__nav-item {
  margin-left: 0.7rem;
}

.header .nav-wrapper .main-menu__nav .main-menu__nav-link {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .nav-wrapper .main-menu__nav .main-menu__nav-link:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

/*========== section Hero ==========*/
.hero .hero__title {
  margin: 10rem auto 0;
  width: 50%;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #d4c17f;
}

.hero .hero__nav-down {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 10rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .hero__nav-down:hover {
  -webkit-animation: hoverNavDown 0.8s ease-in-out 1;
          animation: hoverNavDown 0.8s ease-in-out 1;
}

@-webkit-keyframes hoverNavDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  82% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hoverNavDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  82% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero .hero__nav-down img {
  width: 60%;
  vertical-align: center;
}

.hero .hero__contacts {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero__contacts .hero__contacts-item {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .hero__contacts .hero__contacts-item:hover {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.hero .hero__contacts .hero__contacts-item + .hero__contacts-item {
  margin-left: 2rem;
}

/*========== SMALL SCREEN ==========*/
/*==================================*/
@media screen and (min-width: 890px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */