@mixin propertyLink {
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@mixin hoverLink {
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

@mixin sectionTitle {
  margin-bottom: 4rem;

  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.8rem;

  color: $titleColor;
}
